<h1><%= @category.name %></h1>

<table class="table">
    <tr>
      <th>Course</th>
      <th>Volume</th>
      <th>Pricing</th>
      <th class="col-xs-1">Action</th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.volume %></td>
        <td><%= item.price %></td>
        <td><%= button_to 'Add', "/daily_menu_items/#{@current_daily_menu}/#{item.id}", method: 'post', :class => "btn btn-primary" %></td>
      </tr>
    <% end %>
  </table>

  <%= button_to 'Return', edit_daily_menu_path(@current_daily_menu), method: 'get', :class=> "btn btn-secondary" %>