<h1>Editing Daily Menu</h1>
<br/>

<%= bootstrap_form_with url: "/daily_menus/#{@current_daily_menu.id}/edit", method: :get do |form| %>
    <div class="col-md-4">
        <%= select_tag "category", 
            options_from_collection_for_select(Category.all, "id", "name", @selected_category), 
            :class => "form-control" %>
    </div>
    <div class="col-12">
        <%= form.submit "Select", :class => "btn btn-primary", :style => "margin-left: 15px;" %>
        <% if not @selected_category.nil? %>
            <%= link_to 'Add Course', "/daily_menu_items/#{@current_daily_menu.id}/#{@selected_category}", method: 'get', :class => "btn btn-primary" %>
        <% end %>
    </div>
<% end %>
<br/><br/>

<% Category.all.each do |category| %>
    <% if filter_category(category.id) %>
    <h3><%= category.name %></h3>
    <table class="table">
        <tr>
            <th>Course</th>
            <th>Volume</th>
            <th>Price</th>
            <th class="col-xs-1" colspan="2">Action</th>
        </tr>
        <% get_items_by_category(@current_daily_menu.id, category.id).each do |item| %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.volume %></td>
                <td><%= item.price %></td>
                <td><%= link_to 'Edit', update_item_path(@current_daily_menu.id, item.id), :class => "btn btn-primary" %></td>
                <td><%= button_to 'Remove', daily_menu_item_path(item.id), method: 'delete', :class => "btn btn-danger" %></td>
            </tr>
        <% end %>
    </table>
    <br/>
    <% end %>
<% end %>