<h3>Update Course</h3>
<%= form_with model: @course do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.submit "Update" %>
<% end %>

<hr>

<%= form_with url: "/courses/#{@course.id}/pricing/unit", model: @pricing_unit, method: :post do |form| %>
  <%= form.label :volume, "Volume:" %>
  <%= form.text_field :volume %>
  <%= form.label :unit, "Unit:" %>
  <%= form.text_field :unit %>
  <%= form.label :price, "Price:" %>
  <%= form.text_field :price %>
  <%= form.submit "Add" %>
<% end %>

<table>
  <tr>
      <th>Volume</th>
      <th>Price</th>
      <th>Action</th>
  </tr>
  <% @pricing_units.each do |pricing_unit| %>
    <tr>
      <td>
        <%= pricing_unit.volume %>
        <%= pricing_unit.unit %>
      </td>
      <td>$<%= pricing_unit.price %></td>
      <td><%= button_to 'Remove', destroy_pricing_unit_path(pricing_unit), method: 'delete' %></td>
    </tr>
  <% end %>
</table>

<hr>

<%= form_with url: "/courses/#{@course.id}/pricing/portion", model: @pricing_portion, method: :post do |form| %>
  <%= form.label :volume_per_unit, "Volume Per Unit:" %>
  <%= form.text_field :volume_per_unit %>
  <%= form.label :unit, "Unit:" %>
  <%= form.text_field :unit %>
  <%= form.label :price, "Quantity:" %>
  <%= form.text_field :quantity %>
  <%= form.label :price, "Price:" %>
  <%= form.text_field :price %>
  <%= form.submit "Add" %>
<% end %>

<table>
  <tr>
    <th>Volume Unit</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <% @pricing_portions.each do |pricing_portion| %>
    <tr>
      <td>
        <%= pricing_portion.volume_per_unit %>
        <%= pricing_portion.unit %>
      </td>
      <td><%= pricing_portion.quantity %></td>
      <td>$<%= pricing_portion.price %></td>
      <td><%= button_to 'Remove', destroy_pricing_portion_path(pricing_portion), method: 'delete' %></td>
    </tr>
  <% end %>
</table>

<%= button_to 'Return', courses_path, method: 'get' %>