<h1>Editing Course</h1>
<%= bootstrap_form_for(@course) do |form| %>
  <div class="col-md-6">
    <%= form.text_field :name, placeholder: "name" %>
  </div>
  <div class="col-md-6">
    <%= 
      form.select :category_id, 
      options_from_collection_for_select(Category.all, :id, :name, @course.category_id), 
      { label: "Category:" } 
    %>
  </div>
  <div class="col-12">
    <%= form.submit "Update", :class => "btn btn-primary", :style => "margin-left: 15px;" %>
  </div>
<% end %>

<div class="card" style="margin-top: 20px;">
  <div class="card-header">
    Pricing
  </div>
  <div style="margin: 30px;">
    <%= bootstrap_form_with url: "/courses/#{@course.id}/pricing/unit", model: @pricing_unit, method: :post do |form| %>
    <div class="col-md-4">
      <%= form.text_field :volume %>
    </div>
    <div class="col-md-4">
      <%= form.text_field :unit %>
    </div>
    <div class="col-md-4">
      <%= form.text_field :price %>
    </div>
      <%= form.submit "Add", :class => "btn btn-success", :style => "margin-left: 15px;" %>
    <% end %>
  
    </br>
    <table class="table">
      <tr>
          <th>Volume</th>
          <th>Price</th>
          <th class="col-xs-1">Action</th>
      </tr>
      <% @pricing_units.each do |pricing_unit| %>
        <tr>
          <td>
            <%= pricing_unit.volume %>
            <%= pricing_unit.unit %>
          </td>
          <td>$<%= pricing_unit.price %></td>
          <td><%= button_to 'Remove', destroy_pricing_unit_path(pricing_unit), method: 'delete', :class => "btn btn-danger" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

</br>
<%= button_to 'Return', courses_path, method: 'get', :style => "width: 100px; float: right;", :class => "btn btn-secondary"%>