<h1>Courses</h1>
<%= button_to 'New', new_course_path, method: 'get', :class => "btn btn-success" %>
<br/><br/>

<table class="table">
  <tr>
    <th>Category</th>
    <th>Course</th>
    <th class="col-xs-1" colspan="2">Action</th>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course_category(course.category_id) %></td>
      <td><%= link_to course.name, course_path(course) %></td>
      <td><%= button_to 'Edit', edit_course_path(course), method: 'get', :class => "btn btn-primary" %></td>
      <td><%= button_to 'Remove', course_path(course), method: 'delete', data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>