<h1><%= @course.name %></h1>

<table>
    <tr>
        <th>Volume</th>
        <th>Price</th>
    </tr>
    <% @pricing_units.each do |pricing_unit| %>
        <tr>
            <td>
                <%= pricing_unit.volume %>
                <%= pricing_unit.unit %>
            </td>
            <td>$<%= pricing_unit.price %></td>
        </tr>
    <% end %>
</table>

<table>
    <tr>
        <th>Volume Unit</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    <% @pricing_portions.each do |pricing_portion| %>
        <tr>
            <td>
                <%= pricing_portion.volume_per_unit %>
                <%= pricing_portion.unit %>
            </td>
            <td><%= pricing_portion.quantity %></td>
            <td>$<%= pricing_portion.price %></td>
        </tr>
    <% end %>
</table>

<%= button_to 'Return', courses_path, method: 'get'%>