<h1>Categories</h1>
<%= button_to 'New' , new_category_path, method: 'get' , :class=> "btn btn-success" %>
<br/><br/>

<table class="table">
    <tr>
        <th>Category</th>
        <th>In Use</th>
        <th class="col-xs-1" colspan="2">Action</th>
    </tr>
    <% @categories.each do |category| %>
        <tr>
            <td><%= category.name %></td>
            <td><%= category_in_use(category.id) ? "Yes" : "No" %></td>
            <td><%= button_to 'Edit' , edit_category_path(category), method: 'get' , :class=> "btn btn-primary" %></td>
            <% if not category_in_use(category.id) %>
                <td>
                    <%= button_to 'Remove', 
                        category_path(category), 
                        method: 'delete', 
                        data: { confirm: 'Are you sure?' }, 
                        :class=> "btn btn-danger" %>
                </td>
            <% end %>
        </tr>
    <% end %>
</table>